.navbar-dashboard {
    display: flex;
    justify-content: flex-start;
    padding: 10px 5%;
    align-items: center;
  }
  
  .sideBarItem {
    padding: 10px 10px;
    width: 90%;
    margin-bottom: 2%;
    color: white;
    border-radius: 5px;
    transition: background-color 0.4s ease;
    display: flex;
    align-items: center;
  }


  .sideBarItem:hover{
    background-color: #219EBC;
    font-weight: bold;
  }

  .activeitem{
    background-color: #219EBC;
    font-weight: bold;
  }
  
  .brandStyle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 20px;
    display: flex;
    align-items: center;
  }
  .offcanvas .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}

.offcanvas .offcanvas-header{
  padding-left: 10%;
}

h2{
  margin-bottom: 0;
}

