header{
    background-color: #053872;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    padding-bottom: 1%;
}

header img{
    width: 100%;
}

header h1{
    color: #ffffff;
    width: 90%;
}

header h2{
    color: #219EBC;
    width: 90%;
}

header a{
    width: 90%;
    justify-content: center;
    place-items: center;
}

header img{
    margin: 1%;
    width: 70%;
    border-radius: 20px;
    overflow: hidden;
}
