.button {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    border-radius: 10px;
    width: 90%;
    color: white;
    height: 50px;
    font-weight: bold;
    transition: filter 0.3s ease;
    margin: 1%;
    
  }
  
  .blue {
    background-color: #91E0EE; /* Apply blue background color */
  }
  
  .red {
    background-color: red; /* Apply red background color */
  }
  
  .green {
    background-color: #00CB82; /* Apply green background color */
  }
  .green-inverse {
    background-color: white; /* Apply green background color */
    color: #00CB82;
  }
  .orange{
    background-color: #FB8401;
  }
  .orange-inverse{
    background-color: white;
    color: #FB8401;
  }

  /* Add more color classes as needed */
  .button:hover {
    box-shadow: (0 0 10px white); /* Light blue shadow on hover */
    filter: brightness(0.8);
  }

  