
#root {
  
  padding: 0rem;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex: 1; /* Take up remaining space */
}

.sub-container {
  background: #5A9ED7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centers children horizontally */
  height: 100vh;
  flex: 1;
  padding-left: 10%;
  padding-right: 10%;
  
}

.sub-container h1{
  color: #053973;
}

.card{
  background-color: white;
  
}

.dark-blue-back{
  background-color: #053973;
}
.city-background{
  background-image: url('/public/city2.webp');
  
  background-position: 100%;
}
.background-driving{
  background-image: url('/public/driving_cover.jpg');
  background-position: 100%;
}
.walking-students{
  background-image: url('/public/walking_students.jpg');
}
.silhouette{
  width: 100%;
  height: 100%;
}


button {
  display: block; /* The button appears on a new line */
  width: 100%; /* Full width of the container */
  margin-bottom: 1rem; /* Space below the button */
  padding: 10px; /* Padding inside the button */
  background-color: #17477F; /* Button color */
  color: white; /* Text color inside the button */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
  background-color: #15395b; /* Darker shade for hover effect */
}

.form-box {
  border-radius: 30px; /* Rounded corners for the box */
  padding: 2rem; /* Space inside the box */
  max-width: 400px; /* Max width of the form box */
  margin: auto; /* Center the box in the parent container */
  background-color: #ffffff; /* Background color for the form box */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow to the box */
  width: 80%;
}
